BODY
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
	text-decoration: none;
	line-height: 150%;
	background-color: #FBFDFF;
	FONT-SIZE: 9pt;background:#ffffff;
text-decoration: none;
SCROLLBAR-FACE-COLOR: #C6EBDE;
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #39867B; SCROLLBAR-3DLIGHT-COLOR: #39867B; SCROLLBAR-ARROW-COLOR: #330000; SCROLLBAR-TRACK-COLOR: #E2F3F1; SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}
TD
{
	FONT-FAMILY: "ו";
	FONT-SIZE: 9pt;
}
Input
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
Button
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px; 
}
Select
{
	FONT-SIZE: 9pt;
	HEIGHT: 20px;
}
A
{
	TEXT-DECORATION: none;
	color: #000000;

}
A:hover
{
	COLOR: #009286;
	text-decoration: underline;

}
.title
{
	background:url(Images/topBar_bg.gif);
}
.border
{
	border: 1px solid #009286;
}
.tdbg{
	background:#E1F4EE;
	line-height: 120%;
}
.tdbg2{
	background:#E0EEF5;
	line-height: 120%;
}
.topbg
{
	background:#009286;
	color: #FFFFFF;

}
.bgcolor {
	background-color: #E1F4EE;
}
